@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');  
html,
body {
    height: 100%;
    background: #f4f8f9 !important; 
}

#root{
    height: 100%;
}

/*********************** Home Page Css************************/
.home_view{
    min-height: 600px;
}
.home_view p{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}


/*********************** Layout Page Css************************/

.main_view{
    position: relative;
    height: 100%;
}

.sidebar_view{
    width: 6%; 
    position: fixed;
}

.sidebar_view .menu{
    background: #83408a !important;
    margin: 0px !important;
    height: 100vh;
    padding-top: 75px;
    
}

.sidebar_view__icon{
    font-size: 25px !important;
    color: white;
}

.sidebar_view__iconSelected{
    font-size: 25px !important;
    color: #83408a;
}


.sidebar_view__iconwrapper{
    padding: 25px 25px 50px 0px !important;
    color: #ffffff;
    background: #83408a;
}

.sidebar_view__iconwrapperSelected{
    padding: 25px 25px 50px 0px !important;
    color: #ffffff;
    background: white !important;
    border-radius: 10px !important;
}


.data_view{
    position: absolute;
    margin-left: 6%;
    background: white;
    width: 94%; 
    padding-bottom: 15px;
}

.page_heading{
    width: 94%;
    margin-left: 6%;
    padding: 25px;
    font-size: 20px;
    color: grey;
    font-weight: 600;
}


/*********************** Project Board Page Css************************/

.board_single_view{
    background: #f1f4f8;
    padding: 15px 7px;
    border-radius: 5px; 
    height: 580px;
}

.board_single_view__heading{
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 30px;
}

.board_single_view--icon_wrapper{
    float: right;
}
.board_single_card_view{
    margin-bottom: 20px;
}
.board_single_card_view .ui.card{
width: 100% !important;
}

.board_single_card_view .ui.card>.content>.header{
    font-family: 'Open Sans', sans-serif;
    color: #868686 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    padding-bottom: 5px !important;
    font-weight: 500 !important;
}
.board_single_card_view .ui.card>.content> .description{
    padding-top: 30px;
}

.board_single_card_view .ui.card>.content>.header span{
    float: right;
    font-size: 15px;
    padding: 5px 0px 0px 0px;
}
 

.board_single_card_view .ui.card>.content>.header .ui.label{
    border-radius: 30px;
    margin-left: 10px;
    color: white;
    background: #e7b12f;
}

.add_image{
    border: 1px solid #83408a !important;
    background: white !important;
    width: 25px !important;
    height: 25px !important;
    padding: 5px !important;
    margin: 5px 0px 0px 5px !important;
}   
.plus{
    font-size: 10px !important;
    color: #83408a !important;
}



/*********************** Tasks - Calender ************************/

.calender_view{
    margin: 45px;
}

.fc-scrollgrid-sync-table,.fc-daygrid .fc-dayGridMonth-view .fc-view{
    width: 1125px !important;
    height: 700px !important;
    background-color: #f4f8f9 !important;
}
.fc-col-header ,.fc-daygrid .fc-dayGridMonth-view .fc-view,.fc-scrollgrid  .fc-scrollgrid-liquid{
    width: 1125px !important;
}
.calender_view .fc .fc-media-screen .fc-direction-ltr .fc-theme-standard .fc-view-harness .fc-view-harness-active{
    padding-bottom: 61.0741% !important;
    width: 1127px !important;
    height: 700px !important;
}

.fc{
    width: 1125px !important;
}
a.fc-col-header-cell-cushion {
    text-transform: uppercase;
    line-height: 40px !important;
    font-size: 15px !important;
    color: #909090;
    font-weight: 400 !important;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
    border: 0px solid red !important;

}

.fc-h-event .fc-event-main-frame {
    display: flex;
    background-color: #f4f8f9 !important;
}
.fc-h-event .fc-event-title-container {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    color: #888787 !important;
    background: white !important;
    border: 1px solid #f2711c;
    border-left: 5px solid #f2711c;
    padding: 4px !important;
    margin: 10px !important;
    border-radius: 20px !important;
}
.fc .fc-scroller-harness-liquid {
    height: 100%;
    background: #ff560200;
}


/******************************** Resource Page css **********************************/
.resource_view{
    min-height: 600px !important;
}
.resource_view p{
    padding: 30px 0px 0px 30px;
}

.react-calendar-timeline{
    padding: 20px; 
}

.react-calendar-timeline .rct-sidebar,.react-calendar-timeline .rct-header-root > div{
    width: calc(100% - 40%) !important;
}

.react-calendar-timeline .rct-calendar-header{
    width: 100% !important;
}

#RBS-Scheduler-root{
    width: 1000px !important;
}

.scheduler-view { 
    width: 975px !important;
}
.resource-view,.resource-table{
    width: 160px !important;
} 